/* styling the menu: */

@font-face
{
    font-family: Diet-Again;
    src: url("../.custom-fonts/Diet Again.otf");
    src: url("../.custom-fonts/Diet Again.ttf");
}

@font-face {
    font-family: Main-Regular;
    src: url("../.custom-fonts/Main-Regular.ttf");
}

#mainmenu-space h1, #mainmenu-space p 
{
    font-family: Main-Regular;
}

#mainmenu-space p 
{
    font-size: 14px;
    border-bottom: 1px solid #000;
}

#mainmenu-space h1
{
    font-size: 35px;
}

#logo-text 
{
    cursor: pointer;
}

#mainmenu-space
{
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#mainmenu-links
{
    list-style: none;
}

#mainmenu-links li, mainmenu-links a, #need-help-button
{
    font-family: Diet-Again, sans-serif;
    font-weight: 600;
    color: ghostwhite;
    text-decoration: none;
}

#mainmenu-links li
{
    display: inline-block;
    padding: 0px 20px;
}

#mainmenu-links li a
{
    color: #000;
    transition: all 0.3s ease 0s;
}

#mainmenu-links li a:hover
{
    color: gray;
}

#need-help-button
{
    padding: 6px 15px;
    background-color: rgb(0, 0, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#need-help-button:hover
{
    background-color: rgba(0, 0, 0, 0.7);
}